@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');


html,
body {
    margin: 0;
    padding: 0;
    background-color: #DB995A;

}

header {
    background-color: #828E9B;
    font-family: "Play", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    color: #000000;
}


#color-image {
    max-width: 50%;
    height: auto;
    width: auto;
}

main {
    margin: 0;
    max-width: 80%;
    display: grid;
    margin-left: 10%;
    grid-template-columns: 1fr;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    background-color: #FFFFFF;
    font-family: "Play", sans-serif;
    padding-bottom: 1rem;
}


main div {
    margin-left: 1rem;
}

footer {
    background-color: #828E9B;
    margin: 0;
    text-align: center;
    width: 100%;
    font-family: "Play", sans-serif;
    font-weight: 300;
    padding: 0;
    bottom: 0;
    padding-top: 0;
    color: #000000;

}

footer p {
    padding: 1rem;
    margin: 0;
}