@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --text-color: black;
    --primary-color: #FFC20A;
    --secondary-color: #454851;
    --highlight-color: #76BED0;
    --body-color: white;
    --backround-color: #f2f2f2;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Play", sans-serif;
    max-width: 100%;
    height: 100%;
    background-color: var(--backround-color);
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: var(--secondary-color);
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.logo {
    max-width: 100%;
}

nav ul li {
    margin: 10px;
}

#menu-button::before {
    content: "☰";
}

#menu-button {
    background-color: inherit;
    font-size: 2rem;
    padding: .5rem;
    margin-bottom: 5px;
}

#button-div {
    display: flex;
    justify-content: right;
    margin-right: 3rem;
}

#menu-button.open::before {
    content: "X";
}

nav ul {
    text-align: center;
    display: none;
    list-style-type: none;
    font-size: larger;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0px;
}

nav ul.open {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



nav li:hover {
    background-color: var(--highlight-color);
}

#header-nav ul li a:link {
    color: var(--text-color);
    text-decoration: none;

}

nav ul li a {
    color: #FFC20A;
}


body {
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

.search {
    width: 100%;
    display: flex;
}

.search-term {
    width: 100%;
    border: 3px solid var(--primary-color);
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: var(--text-color);
}

.search-term:focus {
    color: var(--secondary-color);
}

.searchButton {
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    text-align: center;
    color: var(--secondary-color);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    margin-right: 5px;
    padding-right: 10px;

}

.wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1.5rem;
    top: 50%;
    left: 50%;
    max-width: 100%;
}

fa-search {
    margin: 10px;
    padding: 10px;
}

/* Hero Section */

main {
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--backround-color);
    flex: 1;
}

.main {
    max-width: 200vb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero-image-section {
    max-width: 100%;
    max-height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    overflow: hidden;
}

#call-to-action-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}

#call-to-action-section h2 {
    position: absolute;
    bottom: 10%;
    right: 35%;
    background-color: grey;
    opacity: .5;
    font-size: 2rem;
}

#call-to-action-section h2::after {
    content: "Small";

}

#hero-image-section img {
    margin: 1rem;
}

#hero-image {
    max-width: 100%;
    height: auto;
    max-height: 600px;
    overflow: hidden;
    width: 1200px;
}



#hero-button {
    position: absolute;
    background-color: var(--primary-color);
    top: 20%;
    left: 25%;
    font-size: 1.25rem;
    padding: .5rem;
    border-radius: 8px;
    font-weight: 800;
}

/* Cards */
.card {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.card h2 {
    width: 90%;
    border-bottom: 1px solid var(--text-color);
    margin-left: 5%;
    margin-right: 5%;

}

#featured-products>.card img {
    margin-left: 8px;
    margin-right: 8px;

}

.card-image {
    object-fit: scale-down;
}

/* Featureed */
#featured-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
}

#featured-div {
    margin-left: 10%;
    margin-right: 10%;
    border-top: solid var(--border-color);
    margin-top: 5%;
}

#spotlight3 {
    margin-bottom: 1rem;
}


/* Weather */
#current-conditions {
    text-transform: capitalize;
}

#forecast hr {
    border-color: var(--text-color);
    width: 80%;
}

/* Info Section */

#info {
    margin-bottom: 5px;
}


/* footer */

footer {
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    margin: 0;
    text-align: center;

    font-weight: 300;
    padding: 0;
    bottom: 0;
    position: relative;
}


#footer-logo-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#attribution-link {
    color: var(--primary-color);
    display: block;

    text-align: center;
}

#attribution-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

footer hr {
    width: 100%;
    border-width: 1px;
    border-color: var(--text-color);
    border-bottom: var(--text-color);


}

footer div p {
    margin-bottom: 5px;
}

#last-modified {
    margin-bottom: 3px;
    margin-top: 2px;
}


footer img {
    max-width: 200px;
}

#footer-img {
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin-top: 5px;
}

footer p {
    margin-top: 2px;
    margin-bottom: 0;
}

#attribution-list {
    display: flex;
    /* Use flexbox for the list */
    flex-direction: row;
    /* Arrange list items in a row */
    padding: 0;
    margin: 0;
    justify-content: center;
    align-content: center;
    list-style-type: none;
}

a {
    color: var(--highlight-color);
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}


.fa-instagram {
    background: #125688;
    color: white;
}

#attribution {
    background-color: black;
}

#attribution-list {
    margin-bottom: 10px;
}

/* Product Page */

.product-page {
    max-width: 200vb;
}

.product-card {
    margin-bottom: 1rem;
}

.product-card p {
    margin-right: 1rem;
    margin-left: 1rem;
}

.product-card button {
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
}


#attribution h3 {
    margin-bottom: 10px;
    margin-top: 10px;
}

#attribution-list {
    display: inline;
}

#attribution-list li {
    margin-bottom: 5px;
}

/* About Us page */


.about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#about-us-text p {
    margin: 1rem;
    margin-top: auto;
}

picture {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5rem;
    width: 100%;
}

#map-div {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 2rem;

}


/* Order Page */

.red {
    color: red;
    font-size: 1.25rem;
    position: unset;
}

.order {
    max-width: 200vb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order form {
    display: block;
    padding-top: 1rem;
    display: block;
}


label {
    font-size: large;
    display: block;
}

label input {
    display: block;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    padding: .5rem;
    position: relative;
}


#purchase-button {
    font-size: 1.5rem;
    background-color: var(--primary-color);
    border-radius: 3px;
    margin-top: 1rem;
    display: block;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

/* Order Confirmation */

.order-info-box {
    border: 1px solid var(--secondary-color);
    margin: 1rem;
}

.order-info-box>* {
    margin-left: 1rem;
    margin-right: 1rem;
}

#contact-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#name-p {
    margin-bottom: 0;
}