@media screen and (min-width:800px) {

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul.open {
        flex-direction: row;
    }

    #menu-button {
        display: none;
    }

    #hero-text {

        left: 35%;

    }

    #cards {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

}